/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  description = 'Run findMotifs from Homer tool' 
  author = 'Lorena Pantano'
}


/*
 * default profiles
 */

profiles {
    standard {
        process.executor = 'local'            
    }
    conda { process.conda = "$baseDir/environment.yml" }
    test { includeConfig 'conf/test.config' }
    eofe {
        process {
            cpus = 1
            withName: 'index|quant' { 
                executor = 'slurm'
                cpus = 8
                time = '30m'
                memory = 16.GB
                queue = 'sched_mit_hill'
                clusterOptions = "--constraint=centos7"
                }
            withName: 'fastqc' {
                executor = 'slurm'
                cpus = 1
                time = '1h'
                memory = 4.GB
                queue = 'sched_mit_hill'
                clusterOptions = "--constraint=centos7"
           }
        }

    }
    om {
        process {
            cpus = 1
            withName: 'index|quant' { 
                executor = 'slurm'
                cpus = 8
                time = '30m'
                memory = 16.GB
                }
            withName: 'fastqc' {
                executor = 'slurm'
                cpus = 1
                time = '1h'
                memory = 4.GB
           }
        }

    }

} 

